[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[alias]
  st = status
  cim = commit -m 
  br = branch
  co = checkout

 [core]
  quotepath = false
