*
.nvim/pack/
.nvim/__pyache__/
.nvim/lua/.ipynb_checkpoints/
nvim/.DS_Store
!github-copilot/
!nvim/
!nvim/*
!nvim/lua/*
!nvim/UltiSnips/*
!nvim/lua/lsp/
!nvim/lua/lsp/*
!nvim/lua/lsp/config/
!nvim/lua/lsp/config/*
!nvim/lua/plugin-config/
!nvim/lua/plugin-config/*
!.gitignore
